:root {
  --gutter: 16px;
  --gutterSm: 8px;

  --lineHeight: 24px;

  --mainColor: rgba(155, 66, 244, .8);
  --mainColorDark: rgba(155, 66, 244, 1);
  --mainColorDarkest: rgba(155, 66, 244, 1);
  --white: white;
}
