@import 'config/styles/variables.css';

.container {
  display: flex;
  background-color: var(--mainColor);
  justify-content: space-between;
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
}

.container a {
  color: white;
  text-decoration: none;
}

.item {
  cursor: pointer;
  padding: 8px;
}

.item:hover {
  background-color: var(--mainColorDark);
}
