@import 'config/styles/variables.css';

.container {
  background-color: var(--mainColor);
  line-height: var(--lineHeight);
  padding: 0 var(--gutterSm);
  cursor: pointer;
  color: var(--white);
  display: inline-block;
}

.container:hover {
  background-color: var(--mainColorDark);
}

.container:active {
  background-color: var(--mainColorDarkest);
}
